<div class="panel panel-warning" style="margin:10%;background-color: rgba(0,0,0,0.25)">
  <div class="panel-heading pan-title">留言签到</div>
  <div class="panel-body">
    <div class="input-group input-class">
      <span class="input-group-addon" >姓&nbsp;&nbsp;&nbsp;名</span>
      <input type="text" class="form-control" placeholder="输入你的名字">
    </div>
    <div class="input-group input-class">
      <span class="input-group-addon" >携家人</span>
      <input type="text" class="form-control" placeholder="输入出席人数">
      <span class="input-group-addon" >人</span>
    </div>
    <div class="input-group input-class">
      <span class="input-group-addon" >祝福语</span>
      <input type="text" class="form-control" placeholder="为我们祝福吧">
    </div>
  </div>
</div>


