.pan-title{
    background-color: rgba(0,0,0,0.15);
    color:white;
    font-weight:bold;
    font-size: 150%;
    font-family: 幼圆;
    text-align: center;
}
.input-class{
    margin-bottom: 10px;
}
.pan-compenent{
    margin:5%;
    background-color: rgba(0,0,0,0.25);
    text-align:center;
}
.blessArea{
    margin-left:5%;
    margin-right:5%;
    height:50%;
}
