<div class="panel panel-warning pan-compenent">
  <div class="panel-heading pan-title">留言签到</div>
  <div class="panel-body">
    <div class="input-group input-class">
      <span class="input-group-addon" >姓&nbsp;&nbsp;&nbsp;名</span>
      <input #guestName type="text" class="form-control" placeholder="输入你的名字" [style.border]="inputname" (blur)="verify()">
    </div>
    <div class="input-group input-class">
      <span class="input-group-addon" >携家人</span>
      <input #guestNum type="text" class="form-control" placeholder="输入出席人数" [style.border]="inputpp" (blur)="verify()">
      <span class="input-group-addon" >人</span>
    </div>
    <div class="input-group input-class">
      <span class="input-group-addon" >祝福语</span>
      <input #guestBless type="text" class="form-control" placeholder="为我们祝福吧" [style.border]="inputbless">
    </div>
      <button class="btn btn-default" (click)="addData()">签&nbsp;&nbsp;&nbsp;到</button>
  </div>
</div>
<div #blessArea class="blessArea">
    <canvas #blessCtl [width]=canvasWidth [height]=canvasHeight>
      你的浏览器不支持canvas，无法显示弹幕
    </canvas>
</div>


