.pan-title{
    background-color: rgba(0,0,0,0.15);
    color:wheat;
    font-weight:bold;
    font-size: 150%;
    font-family: 幼圆;
    text-align: center;
}
.input-class{
    margin-bottom: 5%;
}
.headcss{
    text-align:left;
}
#danmu{
    margin-top: 60%;
}
#feedback{
    margin-top: 30%;
}
.btn-msg{
    width: 60%;
    background-color: rgba(0,0,0,0.15);
    font-size: 24px;
    line-height: 25px;
    color: wheat;
    margin-bottom: 2%;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.btn-msg2{
    width: 20%;
    background-color: rgba(0,0,0,0.15);
    font-size: 15px;
    line-height: 16px;
    color: wheat;
    margin-bottom: 1%;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.pan-compenent{
    margin:0%;
    margin-left:5%;
    margin-right:5%;
    padding-top:2%;
    background-color: rgba(0,0,0,0.25);
    text-align:center;
}

.blessArea{
    margin-left:5%;
    margin-right:5%;
    height:80%;
}
.msgboard{
    width: 100%;
    height:100%;
    padding-top:5%;
    text-align: center;
    background-image: url("../../assets/images/xingkong2.jpg")
}
.modalbg{
    background-color: rgba(255,250,250,0.1);
    color: wheat;
}
