
<div class="container-fluid first-bg" >
  <div class="row" style="height:100%;">
  <div class="btn-group"> 
    <!--music-->
      <div class="roundBtn" style="display:block;">
          <div [ngSwitch]="music">
            <span *ngSwitchCase="true" class="glyphicon glyphicon-music li-spacing" (click)="musicplay(music)"></span>
            <img *ngSwitchCase="true" class="rotate" src="../assets/images/round01.png">
            <span *ngSwitchCase="false" class="glyphicon glyphicon-play li-spacing" (click)="musicplay(music)"></span>
            <img *ngSwitchCase="false" src="../assets/images/round01.png">
          </div> 
      </div>
    <!--show and hide buttons list-->
      <div class="roundBtn" style="display:block;">
          <div [ngSwitch]="openlist">
            <span *ngSwitchCase="true" class="glyphicon glyphicon-menu-up li-spacing" (click)="showLists()"></span>
            <span *ngSwitchCase="false" class="glyphicon glyphicon-menu-down li-spacing" (click)="showLists()"></span>
          </div>
          <img class="rotate" src="../assets/images/round01.png">
      </div> 
    <!--buttons list-->
      <ul [@flyIn]  class="list-unstyled"  *ngIf="openlist">
        <li>
          <div class="roundBtn" style="display:block;">
            <span class="glyphicon glyphicon-home li-spacing" (click)="direct2('')"></span>
            <img [class.rotate]="''!=currentPage" src="../assets/images/round01.png">
         </div>
        </li>
        <li>
          <div class="roundBtn" style="display:block;">
            <span class="glyphicon glyphicon-picture li-spacing" (click)="direct2('exhibition')"></span>
            <img [class.rotate]="'exhibition'!=currentPage" src="../assets/images/round01.png">
         </div>
        </li>
        <li>
          <div class="roundBtn" style="display:block;">
            <span class="glyphicon glyphicon-envelope li-spacing" (click)="direct2('invitation')"></span>
            <img [class.rotate]="'invitation'!=currentPage" src="../assets/images/round01.png">
         </div>
        </li>
        <li>
          <div class="roundBtn" style="display:block;">
            <span class="glyphicon glyphicon-map-marker li-spacing" (click)="direct2('navigation')"></span>
            <img [class.rotate]="'navigation'!=currentPage" src="../assets/images/round01.png">
         </div>
        </li>
        <li>
          <div class="roundBtn" style="display:block;">
            <span class="glyphicon glyphicon-pencil li-spacing" (click)="direct2('msgboard')"></span>
            <img [class.rotate]="'msgboard'!=currentPage" src="../assets/images/round01.png">
         </div>
        </li>
      </ul>
  </div>
  <div class="col-xs-12" style="height:100%;padding-right:0px;padding-left:0px;">
    <audio #musicontrol autoplay="autoplay" loop="loop" >
      <source src="../assets/audio/HLWILY.mp3" type="audio/mp3" />
      Your browser does not support the audio element.
    </audio>
    <router-outlet></router-outlet>
  </div>
  </div>
   
</div>
      
          
    