.exhibition{
    width: 100%;
    height:100%;
}

@keyframes big2little{
    0%{
        opacity: 0;
        }  
    100%{
        opacity: 1;
        }
}
.fadein{
    width: 100%;
    height:100%;
    animation: big2little 2s ease-in-out ;
    -moz-animation: big2little 2s ease-in-out ;
    -webkit-animation: big2little 2s ease-in-out ;
    -o-animation: big2little 2s ease-in-out ;
}
