<div class="pic-div"> 
  <img class="p5 five2seven" src="../../assets/images/103-1.jpg"/> 
  <img class="p7 seven2six" src="../../assets/images/110-1.jpg"/>
  <img class="p6 six2three" src="../../assets/images/104-1.jpg"/> 
  <img class="p2 insert" src="../../assets/images/48-1.jpg"/> 
  <img class="p3 three2four" src="../../assets/images/88-1.jpg"/>
  <img class="p4 four2eight" src="../../assets/images/90-1.jpg"/> 
  <img class="p8 eight2nine" src="../../assets/images/131-1.jpg"/>
  <img class="p9 nine2invitation" src="../../assets/images/136-1.jpg"/>
  <img class="p10 invitation" src="../../assets/images/invitation.jpg"/>


  <img class="os1" src="../../assets/images/os1.png"/> 
  <img class="os2" src="../../assets/images/os2.png"/> 
  <img class="os3" src="../../assets/images/os3.png"/> 
  <img class="os4" src="../../assets/images/os4.png"/> 
  <img class="os5" src="../../assets/images/os5.png"/> 
  <img class="os6" src="../../assets/images/os6.png"/> 
  <img class="os7" src="../../assets/images/os7.png"/> 
  <img class="os8" src="../../assets/images/os8.png"/> 
  <img class="end" src="../../assets/images/end.png"/> 
</div>
<div #showarea class="home">
  <canvas #showCtl [width]=showWidth [height]=showHeight>
      你的浏览器不支持canvas，无法动画
  </canvas>
</div>